<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@AppBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <link rel="stylesheet" href="{{ asset('web/bundles/app/css/bootstrap.css') }}" />

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
             {% javascripts
             '@AppBundle/Resources/public/js/jquery-3.1.0.min.js'
             '@AppBundle/Resources/public/js/bootstrap.min.js' %}
                <script src="{{ asset_url }}"></script>
             {% endjavascripts %}
            <script src="{{ asset('web/bundles/app/js/jquery-3.1.0.min.js') }}"></script>
            <script src="{{ asset('web/bundles/app/js/bootstrap.js') }}"></script>

        {% endblock %}
    </body>
</html>
