{% extends 'base.html.twig' %}

{% block body %}
        <div id="container">

            <div class="row col-md-6 col-md-offset-3 col-centered">
                <h1 align="center">Детализация</h1>
                <div class="row">
                    <form method="get" action="/">
                        <div class="form-group">
                            <label for="user_id">User id</label>
                            <input value="{{ userIds }}" type="text" class="form-control" id="user_id" name="user_id" placeholder="User Id">
                        </div>
                        <div class="form-group">
                            <label for="ref_id">Ref id</label>
                            <input value="{{ refId }}" type="text" class="form-control" id="ref_id" name="ref_id" placeholder="Ref Id">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
            <div class="row">
                <table class="table table-striped table-bordered">
                        <thead>
                            <tr align="center">
                                <td >
                                    Id
                                </td>
                                <td>
                                    {% if eventId==1 %}
                                        Регистрация
                                    {% elseif eventId==2 %}
                                        Депозит
                                    {% elseif eventId==3 %}
                                        Первый депозит
                                    {% endif %}
                                </td>
                                <td>
                                    Сумма
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in stat %}
                            <tr>
                                <td style="width: 50%">
                                    {{ item.userId }}
                                </td>
                                <td>
                                    {{ item.dateEvent | date("d.m.Y H:i:s") }}
                                </td>
                                <td>
                                    {{ item.amount }}
                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
            </div>
        </div>
{% endblock %}
