{% extends 'base.html.twig' %}

{% block body %}
        <div id="container " >
            <div class="row col-md-6 col-md-offset-3 col-centered">
                <h1 align="center">Статистика</h1>
                <div class="row">
                    <form method="get" action="/">
                        <div class="form-group">
                            <label for="user_id">User id</label>
                            <input value="{{ userIds }}" type="text" class="form-control" id="user_id" name="user_id" placeholder="User Id">
                        </div>
                        <div class="form-group">
                            <label for="ref_id">Ref id</label>
                            <input value="{{ refId }}" type="text" class="form-control" id="ref_id" name="ref_id" placeholder="Ref Id">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" style="width: 100%">
                            <thead>
                            <tr align="center">
                                <td >
                                    UserId
                                </td>
                                <td>
                                    Открыто
                                </td>
                                <td>
                                    Кликнуто
                                </td>
                                <td>
                                    Регистрация
                                </td>
                                <td>
                                    Депозит
                                </td>
                                <td>
                                    Первый депозит
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,item in stat %}
                                <tr >
                                    <td>
                                        {{ key }}
                                    </td>
                                    <td>
                                            {% if item['opened'] is defined %}
                                                {{ item['opened'] }}
                                            {% endif %}
                                    </td>
                                    <td>
                                        {% if item['clicked'] is defined %}
                                            {{ item['clicked'] }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="/details?user_id={{ key }}&event_id=1&ref_id={{ refId }}">
                                            {% if item[1] is defined %}
                                                {{ item[1] }}
                                            {% endif %}
                                            </a>
                                    </td>
                                    <td>
                                        <a href="/details?user_id={{ key }}&event_id=2&ref_id={{ refId }}">
                                            {% if item[2] is defined %}
                                                {{ item[2] }}
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/details?user_id={{ key }}&event_id=3&ref_id={{ refId }}">
                                            {% if item[3] is defined %}
                                                {{ item[3] }}
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}
